.navbar {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--black);

    app-riot-logo {
        margin: 0px 10px;
    }

    app-leagueoflegends-logo {
        margin: 0px 10px;
    }

    app-navbar-button {
        margin: 0px 10px 0px auto;
    }
}

::ng-deep {

    .mdc-icon-button,
    .mat-mdc-button-touch-target {
        width: 28px !important;
        height: 28px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .material-icons {
        font-size: 24px;
    }

    .mat-icon {
        overflow: unset !important;
        height: unset !important;
        width: unset !important;
        color: var(--gray);
    }
}