.navbar {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: #000000;

    app-riot-logo {
        margin: 0px 10px;
    }

    app-leagueoflegends-logo {
        margin: 0px 10px;
    }

    app-navbar-button {
        margin: 0px 10px 0px auto;
    }

    &__share-button {
        width: 28px;
        height: 28px;
        background: none;


        &__icon {
            color: #555;
        }
    }
}