<div id="campeoes" class="champion-content">
    <div class="champion-content__title-container">
        <app-title [title]="roleTitle"></app-title>
        <app-subtitle [subtitle]="roleSubtitle"></app-subtitle>
    </div>

    <app-champions-filter (filterData)="getFilterData($event)"></app-champions-filter>

    <mat-spinner class="champion-content__spinner" *ngIf=" !loadedContent"></mat-spinner>
    <div *ngIf="loadedContent" class="champion-content__card-container">
        <app-card *ngFor="let champion of displayedChampions" [urlImage]="urlImage" [card]="champion"></app-card>
    </div>
    <app-btn-show-more *ngIf="showButton" [btnText]="btnText" (click)="showMoreButton()"></app-btn-show-more>
</div>