@import "../../../../scss/global.scss";

.champion-content {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;

    &__title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;

        app-subtitle {
            max-width: 80%;
        }
    }

    &__spinner {
        margin: 35px 0px;
    }

    app-champions-filter {
        width: 80%;
        margin: 25px;
    }

    &__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 35px;
        max-width: 75%;
    }
}