<div id="campeoes" class="champion-content">
    <div class="champion-content__title-container">
        <app-title [title]="roleTitle"></app-title>
        <app-subtitle [subtitle]="roleSubtitle"></app-subtitle>
    </div>

    <form [formGroup]="form" class="champion-content__form-container">
        <mat-form-field color="accent">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput placeholder="Buscar" formControlName="searchText">
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-select placeholder="Todas as Funções" formControlName="roleInput">
                <mat-option *ngFor="let option of options" [value]="option"> {{option}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-select placeholder="Dificuldade" formControlName="dificultyInput">
                <mat-select-trigger>
                    <mat-icon>eject</mat-icon>
                    <button (click)="onCancel($event)"
                        class="champion-content__form-container__close-button"><mat-icon>cancel</mat-icon></button>
                </mat-select-trigger>
                <mat-option value="option"><mat-icon>eject</mat-icon></mat-option>
                <mat-option value="option"><mat-icon>eject</mat-icon><mat-icon>eject</mat-icon></mat-option>
                <mat-option
                    value="option"><mat-icon>eject</mat-icon><mat-icon>eject</mat-icon><mat-icon>eject</mat-icon></mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <mat-spinner class="champion-content__spinner" *ngIf=" !loadedContent"></mat-spinner>
    <div *ngIf="loadedContent" class="champion-content__card-container">
        <app-card *ngFor="let champion of displayedChampions" [urlImage]="urlImage" [card]="champion"></app-card>
    </div>
    <app-btn-show-more *ngIf="showButton" [btnText]="btnText" (click)="showMoreButton()"></app-btn-show-more>
</div>