.role-image-container {
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__background {
        opacity: 0.15;
    }

    &__image {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}