<div class="role-content">
    <div class="role-content__title-container">
        <app-title [title]="roleTitle"></app-title>
        <app-subtitle [subtitle]="roleSubtitle"></app-subtitle>
    </div>

    <mat-tab-group animationDuration="500ms" color="$primary" [selectedIndex]="selectedTabIndex"
        (selectedIndexChange)="onTabSelected($event)">
        <mat-tab label={{item.roleText.title}} *ngFor="let item of listRoleChampions">
            <div class="role-content__content-container">
                <app-champion-role-text [roleChampionText]="item.roleText"></app-champion-role-text>
                <app-champion-role-image [roleChampionImage]=" item.roleImage"></app-champion-role-image>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>