@import "../../../../scss/global.scss";

::ng-deep {
    .mat-mdc-tab-body-content {
        overflow: hidden !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    mat-tab-group {
        width: 80%;
        margin-top: 35px;
    }

    .mat-mdc-tab {
        max-height: 40px;
    }

    .mdc-tab__text-label {
        font-size: 14px;
        text-transform: uppercase;
    }
}

.role-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;

    &__title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;

        app-subtitle {
            max-width: 70%;
        }
    }

    &__content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin-top: 30px;

        app-champion-role-text {
            width: 50%;
        }

        app-champion-role-image {
            width: 40%;
            margin: 0px 0px 15px 15px;
        }
    }

    @media #{$xtablet} {
        app-champion-role-text {
            text-align: center;
        }

        .role-content__content-container {
            flex-direction: column;

            app-champion-role-text {
                width: 100%;
            }

            app-champion-role-image {
                width: 70%;
                margin: 15px;
            }
        }
    }

    @media #{$mobile} {
        .role-content__content-container {
            app-champion-role-image {
                width: 90%;
            }
        }
    }
}